*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Sora, sans-serif;
}
.main-logo {
    width: 10rem;
    height: 3rem;
}
.nav-bar{
    background-color: #e7f8ff;
}
.nav-link {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    color: hsl(212, 91%, 17%);
    font-weight: 600;
}

.btn-group {
    /* margin-bottom: 0rem; */
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    color: hsl(212, 91%, 17%);
    font-style: normal;
    background-color: #004085;
    color: white;
    margin: 10px;
    border-radius: 23px;
    padding: 10px;
    border: 2px solid rgb(86, 86, 155);
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn.dropdown-toggle-split:first-child,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}

btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #3368C6;
}


.doctor-title{
    /* top: 54%;
    left: 13%; */
    font-weight: 500;
    padding-left: 8px;
    font-size: 60px;
    /* transform: translate(-50%, -50%); */
    letter-spacing: 1px;
    color: #031b4e;
    z-index: 1;
}
.doctor-subtitle{
    display: flex;
    /* top: 64%;
    left: 11.5%; */
    font-weight: 500;
    /* transform: translate(-50%, -50%); */
    letter-spacing: 1px;
    padding-left: 11px;
    color: #031b4e;
    z-index: 1;
}
.doctor-subtitle-text{
    font-size: 15px;
}
.bx-fast-forward{
    height: 15px;
    width: 15px;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;

}
.doctor-cover-image{
    /* position: absolute; */
    width: 100%;
    height: 31.5rem;
    border-radius: 1rem;
    z-index: -1;
    opacity: 0.4;
}
.doctor-cover-section{
    display: flex;
    flex-direction: column;
    height: 31.5rem;
    justify-content: center;
    padding-left: 2rem;
    /* align-items: center; */
}
.doctor-cover-section::before{
    content: "";
    background: url('../Images/doctors-cover-image.png') no-repeat center center/cover; 
    position: absolute;
    left: 1.5%;
    width: 97%;
    height: 31.5rem;
    border-radius: 23px;
    z-index: -1;
    opacity: 0.4;
}

.body-col{
    background-color: #e7f8ff;
}

.doctor-bg-color{
    display: inline;
    background-color: #ffffff; 
    font-size: 13px;
    color: #3368C6;
    border-radius: 24px;
}
.doctors{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 5rem 0rem 5rem;
}
.doctor-img{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 100%;
    width: 100%;
}
.doctors-title{
    /* padding-top: 1.5rem; */
    color: #031b4e;
    padding-bottom: 1rem;
}
.doctor-list{
    display: flex;
    height: 27rem;
    width: 20rem ;
}
.card {
    margin: auto;
    margin-bottom: 2rem;
    /* margin-bottom: 3rem; */
    height: 482px;
}
.certificate-2{
    width: 30rem;
}
.card-title{
    text-align: center; 
}
.card-text-special{
    font-size: 15px;
}
.card-text-special-2{
    font-size: 14px;
}
.card-special-btn{
    margin: auto;
}
.card-title, .card-text{
    color: #031b4e;
}
.span-text{
    color: #3368C6;
}
.card-btn{
    background-color: #031b4e;
    font-size: 0.9rem;
    color: #ffffff;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:963px) {
    .btn-group {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 12rem;
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 4px;
    }

    .nav-item {
        margin: auto;
    }
}